body, html {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('https://i.pinimg.com/originals/44/22/2b/44222b7f0c96ab2a7c7f90b6206d0b07.jpg');
    
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;
}

/* .SpaceBackground{
    
} */

.halfSpaceBackground{
    background-image: url('https://i.pinimg.com/originals/44/22/2b/44222b7f0c96ab2a7c7f90b6206d0b07.jpg');
    
    /* Full height */
    height: 35%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #titleNova{

} */

#movingImages {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }
  
#movingImages img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes movingImagesFadeOut {
        0% {
        opacity:1;
      }
      45% {
      opacity:1;
      }
      55% {
      opacity:0;
      }
      100% {
      opacity:0;
      }
}
      
#romance img.top {
      animation-name: movingImagesFadeOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-direction: alternate;
}

h1, h2, h3 {
    color: black;
}

.panel-default {    
    background: #dddddddc;
    border-color:#764f8c;
    border-style: solid;
    padding: 25px 25px 25px 25px;
  }

/*center content*/
section.content {
    overflow:hidden;
    position: relative;
    /* width:960px; */
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    margin:0 auto;
}
.content .column {
    float:left;
    width:605px;
    padding:0 23px 7px 28px;
}
.content .sidebar {
    float:left;
    width:235px;
    border-left:1px solid #444;
    padding:0 39px 7px 25px;
}

/* .title {
    overflow:hidden;
    padding-top:5px;
    width:100%;
}
.title .date {
    color:#444;
    float:left;
    font-size:1.167em;
    font-weight:400;
    line-height:1em;
    margin-right:16px;
    text-align:center;
    width:69px;
    padding:5px 0 8px;
}
.title .date span {
    display:block;
    font-size:2.357em;
    line-height:1em;
}
.title h2 {
    color:rgb(0, 0, 0);
    font-size:2.5em;
    font-weight:400;
    line-height:1.01em;
    text-transform:none;
    padding:15px 0 0;
}
.title h2 a {
    color:rgb(0, 0, 0);
    text-decoration:none;
}
.title h2 a:hover {
    text-decoration:underline;
}
.text-box {
    font-size:1.09em;
    line-height:1.35em;
    overflow:hidden;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}
.text-box img {
    margin:10px 0;
}
.comments {
    color:#573280;
    font-size:1.083em;
    line-height:1em;
    overflow:hidden;
    text-transform:none;
    padding:0 0 16px;
}
.sidebar .block {
    padding:7px 30px 50px 7px;
}
.sidebar .block h2 {
    font-size:2.5em;
    margin:10px 0;
}
.sidebar ul {
    width:100%;
}
.sidebar li {
    color:#573280;
    font-size:1.083em;
    font-weight:700;
    line-height:1.146em;
    padding:4px 0 5px;
}
.sidebar li a {
    color:#e4d6e4;
    text-decoration:none;
}

nav {
    overflow:hidden;
    position:relative;
    width:910px;
    margin:10px auto;
    padding:10px;
}
nav ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    overflow:hidden;
    margin:0;
    padding:0;
}
nav ul li {
    float:left;
    font-size:1.5em;
    line-height:normal;
    margin-left:-2px;
    overflow:hidden;
    padding:0;
}
nav ul li a {
    color:#000;
    display:block;
    font-family:Tahoma,Arial,Helvetica,serif;
    font-weight:400;
    text-decoration:none;
    text-transform:none;
    padding:3px 24px 5px 26px;
}
nav ul li a:hover {
    text-decoration:none;
    color:#41096e;
}

input[type=text]:focus {
    border: 3px solid #555;
}*/

textarea{
    resize:none;
}

textarea:focus {
    border: 3px solid #555;
}