body, html {
    font-size: 130%;
    font-family: 'BenchNine', sans-serif;
    background-image: url('https://i.pinimg.com/originals/44/22/2b/44222b7f0c96ab2a7c7f90b6206d0b07.jpg');
    
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;
}

#movingImages {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }
  
/* #movingImages img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes movingImagesFadeOut {
        0% {
        opacity:1;
      }
      45% {
      opacity:1;
      }
      55% {
      opacity:0;
      }
      100% {
      opacity:0;
      }
}
      
#romance img.top {
      animation-name: movingImagesFadeOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-direction: alternate;
} */

h1, h2, h3 {
    color: black;
}

.panel-default {    
    background: #dddddddc;
    border-color:#764f8c;
    border-style: solid;
    padding: 25px 25px 25px 25px;
  }

/*center content*/
section.content {
    overflow:hidden;
    position: relative;
    /* width:960px; */
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    margin:0 auto;
}
.content .column {
    float:left;
    width:605px;
    padding:0 23px 7px 28px;
}
.content .sidebar {
    float:left;
    width:235px;
    border-left:1px solid #444;
    padding:0 39px 7px 25px;
}

textarea{
    resize:none;
}

textarea:focus {
    border: 3px solid #555;
}